body {
	font-family: 'Open Sans',Arial,sans-serif;
	box-sizing: border-box;
}

header {
	font-size: 32px;
	margin: 10px;
	text-align: center;
}

#navbar {
	position: fixed;
	min-width: 290px;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	border-right: solid #ccc;
	background-color: #f1f1f1;
	text-align: center;
}

#navbar ul {
	height: 88%;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

#navbar li {
	border: 1px solid #ccc;
	border-bottom-width: 0px;
	padding: 10px;
	padding-left: 45px;
	list-style-type: none;
	position: relative;
	font-size: 18px;
	left: -55px;
	width: 100%;
}

#navbar a {
	color: #000;
	text-decoration: none;
}

#main-doc header {
	text-align: left;
	margin: 0;
}

#main-doc {
	position: absolute;
	margin-left: 300px;
	padding: 20px;
	margin-bottom: 110px;

}

section article {
	margin: 15px;
	text-align: justify;
}

code {
	display: block;
	text-align: left;
	white-space: pre;
	position: relative;
	word-break: normal;
	word-wrap: normal;
	line-height: 1;
	background-color: #f1f1f1;
	padding: 8px;
	margin: 10px;
	border-radius: 5px;
	overflow-x: auto;
}

/*Mobile phone*/
@media only screen and (max-width: 815px) {
	#navbar ul {
		border: 1px solid;
		height: 207px;
		text-align: center;
	}

	#navbar {
		position: absolute;
		top: 0;
		padding: 0;
		margin: 0;
		width: 100%;
		max-height: 275px;
		border: none;
		z-index: 1;
		border-bottom: 2px solid #ccc;
		background-color: #f1f1f1;
		text-align: center;
	}

	#main-doc {
		position: relative;
		margin-left: 0px;
		margin-top: 270px;
	}
}
